RewriteEngine On
FallbackResource ./index.html
Options Indexes FollowSymLinks
Require all granted
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} bot
# Replace the PUT-YOUR-RENDERTRON-URL-HERE with the URL of your Rendertron instance
# Replace YOUR-WEBAPP-ROOT-URL with the base URL of your web application (e.g. example.com)
RewriteRule ^(.*)$ https://render-tron.appspot.com/render/https://seo-poc-32dd0.web.app/$1 [R=301,L]
